/* @media only screen and (max-width: 768px) {

} */

body {
  font-family: "Encode Sans Condensed", "Nova Mono", "Iosevka Web", "Avenir Next Condensed", "Lato", Helvetica, Arial, sans-serif;
  font-weight: 200;
  /* background: #44475a; */
  /* background: #f8f8f8; */
  /* margin: 50px 0 100px; */
  margin: 0;
  /* letter-spacing: 0.3px; */
  /* color: #39424b; */
  /* position: relative; */
  text-transform: lowercase;
  background: radial-gradient(
    circle closest-corner at center 125px,
    #282a36d0,
    #282a36 100%
  ) no-repeat;
}

/* body, html {
  width: 100%;
  height: 100%;
} */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Cutive Mono", "Iosevka Web", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h3 {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0.4px;
}

h3.bold {
  font-weight: 600;
  color: #bd93f9;
}

h4 {
  font-weight: 200;
  font-size: 12px;
  color: #bd93f9
}

h4.bold {
  font-weight: 700;
}

h5 {
  font-weight: 300;
  font-size: 11px;
}
h5.italic {
  font-style: italic;
}

h6 {
  font-weight: 400;
  font-size: 11px;
  margin: 2px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover,
a:hover > i.fa-external-link,
.info-tag-container a:hover .fa.fa-external-link {
  color:   #2895f1;
}

a .fa-external-link {
  font-size: 8px;
  margin-left: 2px;
  vertical-align: text-top;
  color: #999;
}

p,
li {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0.4px;
}

blockquote {
  font-size: 11px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px;
}

em {
  color: #999;
}

ul {
  margin: 10px 0 0;
  -webkit-padding-start: 25px;
}

ul li {
  padding-left: 10px;
  text-align: justify;
}

ul.minimal {
  list-style: none;
  padding: 0 0 0 15px;
  border-left: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgba(0,0,0,0), #6272a4 50%, rgba(0,0,0,0) 100%);
}

ul.minimal li {
  margin-bottom: 3px;
  padding-left: 0;
}

ul.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 28px;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 28px;
  column-gap: 28px;
}

ul.two-column li {
  padding-left: 0;
  padding-bottom: 5px;
}

@page {
  size: A4;
}

.container {
  padding-top: 20px;
}

.keyline {
  width: 45px;
  /* margin: 8px 0 10px; */
  margin: 4px 0 10px;
  border-top: 1px solid #ff5701;
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.green {
  color: #50fa7b;
}


/* Layouts */
.page {
  /* background: #282a36;
  background-color: #282a36; */
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #f8f8f2;
  /* width: 612px; */
  /* min-height: 792px; */
  display: block;
  margin: 0 auto;
  /* border-top: 10px solid #50fa7b; */
  /* border-left: 10px solid #bd93f9; */
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgba(0,0,0,0), #50fa7b 50%, rgba(0,0,0,0) 100% );
  /* padding: 36px 22px 30px 34px; */
  padding: 50px; /* 50px calc(50px + 10%);*/
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  /* height: 100%; */
  /* position: relative; */
  /* position: relative; */
}

.resume-header {
  display: flex;
  flex-wrap: wrap;
}



.profile-pic img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 0;
  /* object-fit: cover; */
  border: 2px solid #50fa7b	;
  /* border- */
  /* object-fit: scale-down; */
  /* background:hite; */
  float: right;
}

.summary {
  margin: 10px 0;
  /* text-align: justify */
}


/* #particles-js { */
  /* position: absolute;
  width: 100%;
  height: 100vh; */
  /* position:absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #282a36;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
/* } */

/* .page:after {
  content: "";
  display: table;
  clear: both;
} */

.left-column {
  float: left;
  /* width: 160px; */
  /* width: 300px; */
  /* margin-right: 20px; */
  margin-right: 50px;
  /* padding-top: 25px; */
  word-wrap: break-word;
}

.profile-header {
  padding: 25px 0;
  flex-grow: 1;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: space-between; */
  /* align-content: flex-end; */
  /* align-items: flex-start; */
}

.profile-header h1, .profile-header h2 {
  background: radial-gradient(
    circle farthest-corner at center center,
    #ff79c6,
    #8be9fd
  ) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-column {
  width: auto;
  overflow: hidden;
  /* max-width: 850px; */
  /* margin-right: 50px; */
  /* margin: 0 auto; */
  margin-left: auto;
}

/*.profile-pic {
   marin-left: auto;
}*/
.item {
  /* margin-bottom: 15px; */
  margin-top: 20px;
  padding-top: 20px;
  /* border-top: 1px solid #393e46; */
}

.item:first-child,
.title + .item {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.title {
  /* background-color: #393e46; */
  background-color: #44475a;
  padding: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #50fa7b, rgba(0,0,0,0) 100% 100%);
}

.title h3 {
  margin-left: 25px;
}

.title > i {
  float: left;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

/*.right-column > .container > .title {
  padding: 5px;
  margin-bottom: 15px;
}*/

.gpa {
  border: 1px solid white;
  border-radius: 35%;
  padding: 2px;
  margin-left: 5px;
}



@media only screen and (max-width: 800px) {
  .page {
    padding: 35px;
  }

  .left-column,
  .right-column {
    width: 100%;
    margin: 0;
  }

  .skills-container > section > ul > li
          /*,.languages-container > ul > li */ {
    display: inline;
  }

  .skills-container > section > ul > li > h6
          /*,.languages-container > ul > li > h6 */ {
    padding-right: 10px;
    display: inline;
  }

  .info-tag-container .info-text {
    font-size: 14px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  h4 {
    font-size: 14px !important;
  }

  h6 {
    font-size: 12px !important;
  }

  p,
  li {
    font-size: 14px;
  }

  .item {
    margin-top: 10px;
    padding-top: 10px;
  }
}

@media print {
  body {
    margin: 0;
    background: white;
    color: #000;
  }

  main {
    background: white !important;
    color: black !important;
  }

  @page {
    border-top: 2px solid white;
  }


  .page {
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 35px 0 35px; /* 35px  35px; */
    box-shadow: none;
  }

  .title {
    background-color: #393e46;
    color: white;
  }

  .keyline {
    width: 45px;
    /* margin: 8px 0 10px; */
    margin: 4px 0 10px;
    border-top: 2px solid #ff5701;
    display: none;
  }

  .page .resume-header,
  .page .resume-content {
    padding: 0 35px 0 35px;
    /* text-align: justify; */
  }

  .container > section {
    page-break-inside: avoid;
  }

  .left-column {
    width: 250px;
    margin-right: 35px;
  }

  .left-column .container {
    page-break-inside: avoid;
  }

  .fa-external-link {
    display: none;
  }

  .gpa {
    border: 1px solid #393e46;
    margin-left: 10px;
  }
}

/* Components */
.info-tag-container {
  margin-bottom: 5px;
}

.info-tag-container .fa {
  font-size: 14px;
  width: 12px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.info-tag-container .fa.fa-map-marker {
  font-size: 16px;
}

.info-tag-container .fa.fa-mobile {
  font-size: 18px;
}

.info-tag-container .fa.fa-envelope-o {
  font-size: 12px;
}

.info-tag-container .fa.fa-desktop {
  font-size: 11px;
}

.info-tag-container .fa.fa-external-link {
  width: auto;
  font-size: 8px;
  margin-left: 2px;
  vertical-align: text-top;
  color: #999;
}

.info-tag-container .info-text {
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}

.references-container .fa {
  font-size: 14px;
}
